body{
    background-color: rgb(3, 255, 217);
}
.box{
    margin: 18% auto;
    text-align: center;
}
.number{
    margin: 0 auto;
    width: 30% !important;
    margin: 6px auto;
    border-radius: 15px;
}